.centering-the-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-component {
  padding: 3em;
}

.spreading-the-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}