@import '../../../global.css';

.contact-component {
  padding: 3em;
}

.contact-box {
  border: 2px solid var(--border);
  padding: 2.5em;
  border-radius: 10px;
  -webkit-box-shadow:0px 0px 58px 0px var(--shadow-colors);
  -moz-box-shadow: 0px 0px 58px 0px var(--shadow-colors);
  box-shadow: 0px 0px 58px 0px var(--shadow-colors);
  background: linear-gradient(to bottom right, var(--background-edges), 2%, var(--background-center), 95%, var(--background-edges));
}

.setting-up-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .4em;
}

.contact-name {
  color: var(--settings-button);
  padding: 0.5em;
}

.contact-buttons {
  padding-top: 0.85em;
  color: var(--settings-button);
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 3em;
}

.no-background {
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 1em;
}

.contact-photo {
  border-radius: 50px;
}

.right-contacts-buttons {
  padding-top: 0.85em;
  color: var(--settings-button);
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 1.3em;
}

.three-dots-button {
  padding-top: 0.85em;
  color: var(--settings-button);
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 0.8em;
}

.refresh-button:hover {
  animation: spin-animation 1s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.icon-grows:hover {
  transform: scale(1.3)
}

.scroll-contacts {
  min-height: 19em;
  max-height: 19em;
  min-width: 33em;
  max-width: 33em;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scroll-contacts:hover {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scroll-contacts::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.paddingDown {
  padding-top: 6.2em;
}